 /* ******How-We-Work Section-css****** */
 body {
     /* padding-top: 122px; */
     /* Adjust this based on your actual header height */
 }

 /* Add hover animation for 3D rotation */
 .hover-rotateY:hover {
     transform: rotateY(180deg);
 }

 .animate-rotateY {
     transform: rotateY(0);
     transition: transform 0.5s ease-in-out;
 }



 /* *****Country Section-css***** */

 .flag-icon {
     display: inline-block;
     width: 1.333em;
     height: 1em;
     background-size: contain;
     background-position: 50%;
     background-repeat: no-repeat;
 }




 @media (min-width: 768px) {
     /* Large screens */

     body {
         /* padding-top: 120px; */
         /* Adjust based on header height */
     }
 }

 @media (max-width: 767px) {
     /* Mobile screens */

     body {
         /* padding-top: 58px; */
         /* Remove extra space */
     }
 }

 /* for text editor */

 body {
     font-family: Arial, sans-serif;
 }

main p {
     font-size: 1rem;
     /* Standard font size for paragraphs */
  
     /* Adds spacing after paragraphs */
 }

main ol,
main ul {
    padding-left: 1.5rem;
    list-style: inherit !important;
}

#suggestion-box{
    list-style: none !important;
}

h1 {
  font-size: 2.5rem;   /* ~40px */
  font-weight: 700;
}

h2 {
  font-size: 2rem;     /* ~32px */
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;  /* ~28px */
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;   /* ~24px */
  font-weight: 500;
}

h5 {
  font-size: 1.25rem;  /* ~20px */
  font-weight: 500;
}

h6 {
  font-size: 1rem;     /* ~16px */
  font-weight: 500;
}
