 /* ******How-We-Work Section-css****** *
 /* Add hover animation for 3D rotation */
 .hover-rotateY:hover {
     transform: rotateY(180deg);
 }

 .animate-rotateY {
     transform: rotateY(0);
     transition: transform 0.5s ease-in-out;
 }


 /* *****Country Section-css***** */

 .flag-icon {
     display: inline-block;
     width: 1.333em;
     height: 1em;
     background-size: contain;
     background-position: 50%;
     background-repeat: no-repeat;
 }


